$fire-engine-red: #ca2330;
$blue-ncs: #0082B6;
$teal-blue: #367489;
$saffron: #E5BB25;
$naranjo: #f27900;
$azul: #2782cc;
$amarillo: #e5bb0c;
$turquesa: #36929e;
$medio-turquesa: #02D3C9;
$azul: #211c4c;

$primary:   $naranjo;
$secondary: $azul;
$info: $medio-turquesa;
$tertiary: $turquesa;
