$fire-engine-red: #ca2330;
$blue-ncs: #0082B6;
$teal-blue: #367489;
$saffron: #E5BB25;
$naranjo: #f27900;
$amarillo: #e5bb0c;
$turquesa: #36929e;
$medio-turquesa: #02D3C9;
$azul: #211c4c;
$info1: #8CC63F;
$info2: #00A999;
$info3: #F15A24;
$info4: #ED1E79;
$info5: #662D91;

$primary:   $naranjo;
$secondary: $azul;
$info: $medio-turquesa;
$tertiary: $turquesa;
