$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$xanadu: #66806A;

//Paleta uno
$fresh: #4abdac;
$vermillion: #fc4a1a;
$sunshine: #f7b733;
$clean: #dfdce3;

//Paleta dos - NEON 
$void: #0e0a16;
$fuschia: #a239Ca;
$jewel: #4717f6;
$stark: #e7dfdd;

//Paleta tres 
$cerulean: #4484ce;
$aluminium: #d9d9d9;
$light: #f9cf00;
$tangerine: #f19f4d;

//Paleta Cuatro

$prussian-blue: #0b3c5d;
$sky-blue: #328cc1;
$gold-leaf: #d9b310;
$ivory-black: #1d2731;




//WHITE ANF GRAY TONES 

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary:   $jewel;
$secondary: $stark;



@import "../node_modules/bootstrap/scss/bootstrap.scss";

