@import 'custom';

/*===========================
  card-01 css
===========================*/
@import "./variables";
@import "./mixin";

:root {
    --font-family: "Inter", sans-serif;
    --primary: $primary;
    --primary-dark: #1c3ab6;
    --primary-light: #e2f1ff;
    --accent: #00d4d7;
    --accent-dark: #00bac1;
    --accent-light: #dff9f8;
    --success: #13d527;
    --success-dark: #00ae11;
    --success-light: #eafbe7;
    --secondary: $secondary;
    --secondary-dark: #6013c7;
    --secondary-light: #f4e5fa;
    --info: #15b2d5;
    --info-dark: #0f8ca8;
    --info-light: #e0f5fa;
    --caution: #dbbb25;
    --caution-dark: #d58f15;
    --caution-light: #fbf9e4;
    --error: #e6185e;
    --error-dark: #bf1257;
    --error-light: #fce4eb;
    --black: #1d1d1d;
    --dark-1: #2d2d2d;
    --dark-2: #4d4d4d;
    --dark-3: #6d6d6d;
    --gray-1: #8d8d8d;
    --gray-2: #adadad;
    --gray-3: #cdcdcd;
    --gray-4: #e0e0e0;
    --light-1: #efefef;
    --light-2: #f5f5f5;
    --light-3: #fafafa;
    --white: #ffffff;
    --gradient-1: linear-gradient(180deg, #155bd5 0%, #1c3ab6 100%);
    --gradient-2: linear-gradient(180deg, #155bd5 13.02%, #00d4d7 85.42%);
    --gradient-3: linear-gradient(180deg, #155bd5 0%, #8f15d5 100%);
    --gradient-4: linear-gradient(180deg, #155bd5 0%, #13d527 100%);
    --gradient-5: linear-gradient(180deg, #155bd5 0%, #15bbd5 100%);
    --gradient-6: linear-gradient(180deg, #155bd5 0%, #dbbb25 100%);
    --gradient-7: linear-gradient(180deg, #155bd5 0%, #e6185e 100%);
    --gradient-8: linear-gradient(180deg, #1c3ab6 0%, #00bac1 100%);
    --gradient-9: linear-gradient(180deg, #00d4d7 13.02%, #155bd5 85.42%);
    --shadow-1: 0px 0px 1px rgba(40, 41, 61, 0.08),
      0px 0.5px 2px rgba(96, 97, 112, 0.16);
    --shadow-2: 0px 0px 1px rgba(40, 41, 61, 0.04),
      0px 2px 4px rgba(96, 97, 112, 0.16);
    --shadow-3: 0px 0px 2px rgba(40, 41, 61, 0.04),
      0px 4px 8px rgba(96, 97, 112, 0.16);
    --shadow-4: 0px 2px 4px rgba(40, 41, 61, 0.04),
      0px 8px 16px rgba(96, 97, 112, 0.16);
    --shadow-5: 0px 2px 8px rgba(40, 41, 61, 0.04),
      0px 16px 24px rgba(96, 97, 112, 0.16);
    --shadow-6: 0px 2px 8px rgba(40, 41, 61, 0.08),
      0px 20px 32px rgba(96, 97, 112, 0.24);
  }
  
  body {
    font-family: var(--font-family);
    color: var(--black);
    font-size: 16px;
  
    @media (max-width: 991px) {
      font-size: 14px;
    }
  }
  
  img {
    max-width: 100%;
  }
  
  a {
    display: inline-block;
  }
  
  a,
  button,
  a:hover,
  a:focus,
  input:focus,
  textarea:focus,
  button:focus {
    text-decoration: none;
    outline: none;
  }
  
  ul,
  ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    color: var(--black);
    margin: 0px;
  }
  
  h1,
  .h1 {
    font-size: 2.75em;
    line-height: 1.25;
  }
  
  h2,
  .h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
  
  h3,
  .h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
  
  h4,
  .h4 {
    font-size: 1.5em;
    line-height: 1.25;
  }
  
  h5,
  .h5 {
    font-size: 1.25em;
    line-height: 1.25;
  }
  
  h6,
  .h6 {
    font-size: 0.875em;
    line-height: 1.25;
  }
  
  .display-1 {
    font-size: 5.5em;
    line-height: 1.25;
  }
  
  .display-2 {
    font-size: 4.75em;
    line-height: 1.25;
  }
  
  .display-3 {
    font-size: 4em;
    line-height: 1.25;
  }
  
  .display-4 {
    font-size: 3.25em;
    line-height: 1.25;
  }
  
  p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark-3);
    margin: 0px;
  }
  
  .text-small {
    font-size: 0.875em;
    line-height: 1.5;
  }
  
  .text-lg {
    font-size: 1.15em;
    line-height: 1.5;
  }
  
  // others common css here
  
  .bg_cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .container {
    @media #{$xs} {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  .btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid transparent;
  
    &:hover {
      color: inherit;
    }
  
    &:focus {
      box-shadow: none;
      outline: none;
    }
  
    &.btn-lg {
      font-size: 1.15em;
      padding: 16px 24px;
    }
  
    &.btn-sm {
      padding: 8px 16px;
    }
  
    &.square {
      border-radius: 0px;
    }
  
    &.semi-rounded {
      border-radius: 12px;
    }
  
    &.rounded-full {
      border-radius: 50px;
    }
  
    &.icon-left {
  
      span,
      i {
        margin-right: 8px;
      }
    }
  
    &.icon-right {
  
      span,
      i {
        margin-left: 8px;
      }
    }
  
    &.icon-btn {
      width: 48px;
      height: 48px;
      padding: 0;
      line-height: 48px;
  
      &.btn-lg {
        width: 56px;
        height: 56px;
        line-height: 56px;
      }
  
      &.btn-sm {
        width: 40px;
        height: 40px;
        line-height: 40px;
      }
    }
  }

.single-card {
    @include box-shadow(var(--shadow-1));
    border-radius: 8px;
    overflow: hidden;
    margin-top: 30px;
    @include transition(0.3s);
  
    &:hover {
      @include box-shadow(var(--shadow-4));
    }
  
    & .card-image {
      & img {
        width: 100%;
        height: 100%;
      }
    }
    & .card-content {
      padding: 16px;
  
      & .card-title {
        margin-bottom: 0;
  
        & a {
          color: var(--black);
          @include transition(0.3s);
  
          &:hover {
            color: var(--primary);
          }
        }
      }
  
      & .text {
        color: var(--dark-3);
        margin-top: 8px;
      }
    }
  }
  




@import "./buttons";

/*===========================
  NAVBAR css 
===========================*/
.navbar-toggler:focus {
  box-shadow: none;
}

.mb-100 {
  margin-bottom: 100px;
}

/*===== NAVBAR SIX =====*/

.navbar-six {
  background-color: var(--light-2);

  @media #{$md, $xs} {
    padding: 10px 0;
  }

  & .navbar {
    position: relative;
    padding: 0;
  }

  & .navbar-toggler {
    & .toggler-icon {
      width: 30px;
      height: 2px;
      background-color: var(--black);
      margin: 5px 0;
      display: block;
      position: relative;
      @include transition(0.3s);
    }

    &.active {
      & .toggler-icon {
        &:nth-of-type(1) {
          @include transform(rotate(45deg));
          top: 7px;
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          @include transform(rotate(135deg));
          top: -7px;
        }
      }
    }
  }

  & .navbar-collapse {
    @media #{$md, $xs} {
      position: absolute;
      top: 116%;
      left: 0;
      width: 100%;
      background-color: var(--light-2);
      z-index: 8;
      padding: 10px 16px;
    }
  }

  & .navbar-nav {
    margin-right: 24px;

    @media #{$md, $xs} {
      margin-right: 0;
    }

    & .nav-item {
      position: relative;

      & a {
        display: flex;
        align-items: center;
        padding: 10px 16px;
        color: var(--black);
        text-transform: capitalize;
        position: relative;
        border-radius: 5px;
        @include transition(0.3s);
        font-weight: 500;
        margin: 22px 6px;
        border: 1px solid transparent;

        @media #{$md, $xs} {
          padding: 10px;
          display: block;
          border: 0;
          margin: 0;

          &.active {
            i {
              color: var(--white);
            }
          }
        }

        &.active {
          opacity: 1;
          background-color: var(--primary);
          color: var(--white);

          @media #{$md, $xs} {
            border: 0;
          }
        }

        &:hover {
        }

        i {
          font-size: 14px;
          font-weight: 700;
          padding-left: 8px;
        }
      }

      &:hover {
        & > a {
          background-color: var(--primary);
          color: var(--white);

          @media #{$md, $xs} {
            border: 0;
          }
        }
      }

      .sub-nav-toggler {
        @media #{$md, $xs} {
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          padding: 10px 14px;
          font-size: 16px;
          background: none;
          border: 0;
          color: var(--black);
        }
      }

      & .sub-menu {
        position: absolute;
        left: 0;
        top: 100%;
        width: 260px;
        background-color: var(--white);
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        @include transition(0.3s);
        z-index: 99;
        @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, 0.16));
        padding: 10px;

        @media #{$md, $xs} {
          position: relative !important;
          width: 100% !important;
          left: 0 !important;
          top: auto !important;
          opacity: 1 !important;
          visibility: visible !important;
          right: auto;
          @include transform(translateX(0%));
          @include transition(none);
          @include box-shadow(none);
          text-align: left;
          border-top: 0;
          height: 0;
        }

        &.collapse:not(.show) {
          height: auto;
          display: block;

          @media #{$md, $xs} {
            height: 0;
            display: none;
          }
        }

        &.show {
          @media #{$md, $xs} {
            height: auto;
          }
        }

        & li {
          position: relative;
          margin-bottom: 6px;

          &:last-child {
            margin-bottom: 0px;
          }

          & .sub-nav-toggler {
            color: var(--black);
            @include transition(0.3s);
          }

          & a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 24px;
            position: relative;
            color: var(--black);
            @include transition(0.3s);
            border-radius: 0;
            margin: 0 0;
            opacity: 1;
            border: 0;
            border-radius: 5px;

            & .sub-nav-toggler {
              color: var(--black);
            }

            & i {
              font-weight: 700;
              font-size: 14px;

              @media #{$md, $xs} {
                display: none;
              }
            }

            &.active {
              color: var(--white);

              i {
                color: var(--white);
              }
            }

            & .sub-nav-toggler {
              & i {
                display: inline-block;
              }
            }

            &::after,
            &::before {
              display: none;
            }
          }

          & .sub-menu {
            right: auto;
            left: 100%;
            top: 0;
            opacity: 0;
            visibility: hidden;
            @include transition(0.3s);

            @media #{$laptop,$desktop} {
              margin-left: 10px;
            }

            @media #{$md, $xs} {
              padding-left: 30px;
            }

            &.show {
              @media #{$md, $xs} {
                visibility: visible;
                height: auto;
                position: relative;
              }
            }
          }

          &:hover {
            & .sub-menu {
              opacity: 1;
              visibility: visible;
            }

            & .sub-nav-toggler {
              color: var(--white);
            }

            & > a {
              background: var(--primary);
              color: var(--white);

              &::before {
                opacity: 1;
              }
            }
          }
        }
      }

      &:hover {
        & .sub-menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  & .navbar-btn {
    @media #{$md} {
      position: absolute;
      right: 70px;
      top: 50%;
      @include transform(translateY(-50%));
    }

    @media #{$xs} {
      position: absolute;
      right: 60px;
      top: 50%;
      @include transform(translateY(-50%));
    }

    .primary-btn {
      @extend %primary-btn;
      font-weight: 500;

      @media #{$lg} {
        padding: 12px 20px;
      }
    }
  }
}




/*===== NAVBAR SEVEN =====*/

.navbar-area {
  &.navbar-seven {
    background: var(--black);

    @media #{$md, $xs} {
      padding: 10px 0;
    }

    & .navbar {
      position: relative;
      padding: 0;

      & .navbar-toggler {
        & .toggler-icon {
          width: 30px;
          height: 2px;
          background-color: var(--white);
          margin: 5px 0;
          display: block;
          position: relative;
          @include transition(0.3s);
        }

        &.active {
          & .toggler-icon {
            &:nth-of-type(1) {
              @include transform(rotate(45deg));
              top: 7px;
            }

            &:nth-of-type(2) {
              opacity: 0;
            }

            &:nth-of-type(3) {
              @include transform(rotate(135deg));
              top: -7px;
            }
          }
        }
      }

      & .navbar-collapse {
        @media #{$md, $xs} {
          position: absolute;
          top: 116%;
          left: 0;
          width: 100%;
          background-color: var(--primary);
          z-index: 8;
          padding: 10px 16px;
        }
      }

      & .navbar-nav {
        margin-right: 80px;

        @media #{$md, $xs} {
          margin-right: 0;
        }

        & .nav-item {
          position: relative;
          margin-right: 30px;

          &:last-child {
            margin: 0;
          }

          & a {
            display: flex;
            align-items: center;
            padding: 18px 0;
            color: var(--white);
            text-transform: capitalize;
            position: relative;
            border-radius: 5px;
            @include transition(0.3s);
            font-weight: 500;
            margin: 15px 0;
            position: relative;

            &::before {
              position: absolute;
              content: "";
              left: 0;
              bottom: 0;
              height: 2px;
              width: 0%;
              background-color: var(--white);
              border-radius: 3px;
              @include transition(0.2s);

              @media #{$md,$xs} {
                display: none;
              }
            }

            &:hover::before {
              width: 100%;
            }

            &.active::before {
              width: 100%;
            }

            @media #{$md, $xs} {
              padding: 10px 0;
              display: block;
              border: 0;
              margin: 0;
            }

            i {
              font-size: 14px;
              font-weight: 700;
              padding-left: 8px;
            }
          }

          &:hover {
            a::before {
              opacity: 1;
              visibility: visible;
            }
          }

          & .sub-menu {
            position: absolute;
            right: 0;
            top: 100%;
            width: 260px;
            background-color: var(--white);
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            @include transition(0.3s);
            z-index: 99;
            @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, 0.16));
            padding: 10px;

            @media #{$md, $xs} {
              position: relative !important;
              width: 100% !important;
              left: 0 !important;
              top: auto !important;
              opacity: 1 !important;
              visibility: visible !important;
              right: auto;
              @include transform(translateX(0%));
              @include transition(none);
              @include box-shadow(none);
              text-align: left;
              border-top: 0;
              height: 0;
            }

            &.collapse:not(.show) {
              height: auto;
              display: block;

              @media #{$md, $xs} {
                height: 0;
                display: none;
              }
            }

            &.show {
              @media #{$md, $xs} {
                height: auto;
              }
            }

            & li {
              position: relative;

              & .sub-nav-toggler {
                color: var(--black);
                @include transition(0.3s);
              }

              & a {
                align-items: center;
                justify-content: space-between;
                padding: 10px 24px;
                position: relative;
                color: var(--black);
                @include transition(0.3s);
                border-radius: 0;
                margin: 0 0;
                border-radius: 5px !important;

                &::before {
                  display: none;
                }

                & i {
                  font-weight: 700;
                  font-size: 14px;

                  @media #{$md, $xs} {
                    display: none;
                  }
                }

                & .sub-nav-toggler {
                  & i {
                    display: inline-block;
                  }
                }
              }

              & .sub-menu {
                right: auto;
                left: 100%;
                top: 0;
                opacity: 0;
                visibility: hidden;
                @include transition(0.3s);

                @media #{$laptop,$desktop} {
                  margin-left: 10px;
                }

                @media #{$md} {
                  padding-left: 30px;
                }

                @media #{$xs} {
                  padding-left: 30px;
                }

                &.show {
                  @media #{$md, $xs} {
                    visibility: visible;
                    height: auto;
                    position: relative;
                  }
                }
              }

              &:hover {
                & .sub-menu {
                  opacity: 1;
                  visibility: visible;
                }

                & .sub-nav-toggler {
                  color: var(--white);
                }

                &>a {
                  color: var(--white);
                  background-color: var(--dark-2);

                  &::after {
                    opacity: 1;
                  }

                  &::before {
                    opacity: 1;
                  }
                }
              }
            }
          }

          &:hover {
            & .sub-menu {
              opacity: 1;
              visibility: visible;
            }
          }

          .sub-nav-toggler {
            @media #{$md, $xs} {
              display: inline-block;
              position: absolute;
              top: 0;
              right: 0;
              padding: 10px 14px;
              font-size: 16px;
              background: none;
              border: 0;
              color: var(--white);
            }
          }
        }
      }

      & .navbar-btn {
        @media #{$md} {
          position: absolute;
          right: 70px;
          top: 3px;
        }

        @media #{$xs} {
          position: absolute;
          right: 60px;
          top: 3px;
        }

        & ul {
          display: flex;

          & li {
            display: inline-block;
            margin-right: 12px;

            & a {
              font-weight: 600;
              text-transform: capitalize;
              letter-spacing: 0;

              &.primary-btn {
                background-color: var(--white);
                color: var(--black) !important;

                &:hover {
                  background-color: var(--primary);
                  color: var(--white) !important;
                }

                &.primary-color {
                  background-color: var(--primary);
                  color: var(--white) !important;

                  &:hover {
                    background-color: var(--white);
                    color: var(--black) !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@import "buttons";

.primary-btn {
  @extend %primary-btn;
}

.primary-btn-outline {
  @extend %primary-btn-outline;
}
.primary-btn-link {
  @extend %primary-btn-link;
}

.success-btn {
  @extend %success-btn;
}

.success-btn-outline {
  @extend %success-btn-outline;
}
.success-btn-link {
  @extend %success-btn-link;
}

.info-btn {
  @extend %info-btn;
}

.info-btn-outline {
  @extend %info-btn-outline;
}
.info-btn-link {
  @extend %info-btn-link;
}

.caution-btn {
  @extend %caution-btn;
}

.caution-btn-outline {
  @extend %caution-btn-outline;
}
.caution-btn-link {
  @extend %caution-btn-link;
}

.error-btn {
  @extend %error-btn;
}

.error-btn-outline {
  @extend %error-btn-outline;
}
.error-btn-link {
  @extend %error-btn-link;
}



/*===========================
  NAVBAR css 
===========================*/
.navbar-toggler:focus {
    box-shadow: none;
  }
  
  .mb-100 {
    margin-bottom: 100px;
  }
  
  .primary-btn {
    @extend %primary-btn;
  }
  
  .primary-btn-outline {
    @extend %primary-btn-outline;
  }
  
  /*===== NAVBAR ONE =====*/
  
  .navbar-one {
    background: var(--primary);
  
    @media #{$md,$xs} {
      padding: 20px 0;
    }
  
    & .navbar {
      position: relative;
      padding: 0;
  
      & .navbar-toggler {
        & .toggler-icon {
          width: 30px;
          height: 2px;
          background-color: var(--white);
          margin: 5px 0;
          display: block;
          position: relative;
          @include transition(0.3s);
        }
  
        &.active {
          & .toggler-icon {
            &:nth-of-type(1) {
              @include transform(rotate(45deg));
              top: 7px;
            }
  
            &:nth-of-type(2) {
              opacity: 0;
            }
  
            &:nth-of-type(3) {
              @include transform(rotate(135deg));
              top: -7px;
            }
          }
        }
      }
  
      & .navbar-collapse {
        @media #{$md, $xs} {
          position: absolute;
          top: 140%;
          left: 0;
          width: 100%;
          background-color: var(--primary);
          z-index: 8;
          padding: 10px 0;
          border-radius: 0 0 5px 5px;
        }
      }
  
      & .navbar-nav {
        & .nav-item {
          margin: 0 5px;
          position: relative;
  
          & a {
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            padding: 28px 15px;
            color: var(--white);
            text-transform: capitalize;
            position: relative;
            display: flex;
            align-items: center;
            z-index: 0;
            @include transition(0.3s);
  
  
            &::before {
              position: absolute;
              content: "";
              left: 0;
              bottom: 0;
              height: 100%;
              width: 0%;
              background-color: var(--white);
              opacity: 0;
              visibility: hidden;
              z-index: -1;
              @include transition(0.3s);
            }
  
            &.active {
              &::before {
                opacity: 0.1;
                visibility: visible;
                width: 100%;
              }
            }
  
            &:hover {
              &::before {
                opacity: 0.1;
                visibility: visible;
                width: 100%;
              }
            }
  
            i {
              font-weight: 700;
              padding-left: 8px;
              font-size: 14px;
            }
  
            @media #{$md, $xs} {
              padding: 10px 10px;
              display: block;
  
              &::before {
                border-radius: 5px;
              }
            }
          }
  
          @media #{$md,$xs} {
            margin-bottom: 5px;
  
            &:last-child {
              margin-bottom: 0;
            }
          }
  
          & .sub-menu {
            position: absolute;
            left: 0;
            top: 100%;
            width: 260px;
            background-color: var(--white);
            box-shadow: var(--shadow-4);
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            @include transition(0.3s);
            z-index: 99;
            padding: 10px;
  
            @media #{$md, $xs} {
              position: relative !important;
              width: 100% !important;
              left: 0 !important;
              top: auto !important;
              opacity: 1 !important;
              visibility: visible !important;
              right: auto;
              @include transform(translateX(0%));
              @include transition(none);
              @include box-shadow(none);
              text-align: left;
              border-top: 0;
              height: 0;
            }
  
            &.collapse:not(.show) {
              height: auto;
              display: block;
  
              @media #{$md, $xs} {
                height: 0;
                display: none;
              }
            }
  
            &.show {
              @media #{$md, $xs} {
                height: auto;
              }
            }
  
            & li {
              position: relative;
  
              @media #{$md,$xs} {
                a {
                  border-radius: 5px !important;
                }
              }
  
              & a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px 24px;
                font-weight: 500;
                position: relative;
                color: var(--dark);
                @include transition(0.3s);
                z-index: 5;
                text-transform: capitalize;
                border-radius: 5px;
  
                &:hover {
                  background-color: var(--primary);
                  color: var(--white);
                }
  
                &::before {
                  display: none;
                }
  
                @media #{$md,$xs} {
                  &:hover {
                    background-color: var(--primary-dark);
                    color: var(--white);
                  }
  
                  i {
                    color: var(--primary-dark);
                    @include transition(0.3s);
                  }
  
                  &:hover {
                    i {
                      color: var(--white);
                    }
                  }
  
                }
  
                & i {
                  font-size: 14px;
                  font-weight: 700;
  
                  @media #{$md, $xs} {
                    display: none;
                  }
                }
  
                & .sub-nav-toggler {
                  & i {
                    display: inline-block;
                  }
                }
              }
  
              & .sub-menu {
                right: auto;
                left: 100%;
                top: 0;
                opacity: 0;
                visibility: hidden;
                @include transition(0.3s);
  
                @media #{$laptop,$desktop} {
                  margin-left: 10px;
                }
  
                @media #{$md, $xs} {
                  padding-left: 30px;
                  height: 0;
                }
  
                &.show {
                  @media #{$md, $xs} {
                    visibility: visible;
                    height: auto;
                    position: relative;
                  }
                }
              }
  
              &:hover {
                & .sub-menu {
                  opacity: 1;
                  visibility: visible;
                  height: auto;
                }
              }
            }
          }
  
          &:hover {
            & .sub-menu {
              opacity: 1;
              visibility: visible;
              height: auto;
            }
          }
  
          .sub-nav-toggler {
            @media #{$md, $xs} {
              display: inline-block;
              position: absolute;
              top: 0;
              right: 0;
              padding: 10px 14px;
              font-size: 16px;
              background: none;
              border: 0;
              color: var(--white);
            }
          }
        }
      }
  
      & .navbar-btn {
        @media #{$md} {
          position: absolute;
          right: 70px;
          top: 3px;
        }
  
        @media #{$xs} {
          position: absolute;
          right: 60px;
          top: 3px;
        }
  
        & ul {
          display: flex;
  
          & li {
            display: inline-block;
            margin-right: 12px;
  
            & a {
              font-weight: 600;
              text-transform: capitalize;
              letter-spacing: 0;
  
              &.primary-btn-outline {
                border-color: var(--white);
                color: var(--white);
  
                &:hover {
                  background-color: var(--white);
                  color: var(--primary);
                }
              }
  
              &.primary-btn {
                background-color: var(--white);
                color: var(--primary);
                border-color: var(--white);
  
                &:hover {
                  background-color: transparent;
                  color: var(--white);
                }
              }
            }
          }
        }
      }
    }
  }