@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*===========================
   COMMON css .single img {

 ===========================*/
:root {
  --font-family: "Mulish", sans-serif;
  --primary: #f27900;
  --primary-dark: #1a0d00;
  --primary-light: #ececec;
  --accent: #00d4d7;
  --accent-dark: #00bac1;
  --accent-light: #dff9f8;
  --success: #13d527;
  --success-dark: #00ae11;
  --success-light: #eafbe7;
  --secondary: #211c4c;
  --secondary-dark: #0e0b2e;
  --secondary-light: #e2f1ff;
  --tertiary: #36929e;
  --info: #15b2d5;
  --info-dark: #0f8ca8;
  --info-light: #e0f5fa;
  --caution: #dbbb25;
  --caution-dark: #d58f15;
  --caution-light: #fbf9e4;
  --error: #e6185e;
  --error-dark: #bf1257;
  --error-light: #fce4eb;
  --tertiary: #36929e;
  --black: #1d1d1d;
  --dark-1: #2d2d2d;
  --dark-2: #4d4d4d;
  --dark-3: #6d6d6d;
  --gray-1: #8d8d8d;
  --gray-2: #adadad;
  --gray-3: #cdcdcd;
  --gray-4: #e0e0e0;
  --light-1: #efefef;
  --light-2: #74ccd4;
  --light-3: #fafafa;
  --white: #ffffff;
  --gradient-1: linear-gradient(180deg, #155bd5 0%, #1c3ab6 100%);
  --gradient-2: linear-gradient(180deg, #155bd5 13.02%, #00d4d7 85.42%);
  --gradient-3: linear-gradient(180deg, #155bd5 0%, #8f15d5 100%);
  --gradient-4: linear-gradient(180deg, #155bd5 0%, #13d527 100%);
  --gradient-5: linear-gradient(180deg, #155bd5 0%, #15bbd5 100%);
  --gradient-6: linear-gradient(180deg, #155bd5 0%, #dbbb25 100%);
  --gradient-7: linear-gradient(180deg, #155bd5 0%, #e6185e 100%);
  --gradient-8: linear-gradient(180deg, #1c3ab6 0%, #00bac1 100%);
  --gradient-9: linear-gradient(180deg, #00d4d7 13.02%, #155bd5 85.42%);
  --shadow-1: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  --shadow-2: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  --shadow-3: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
  --shadow-4: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
  --shadow-5: 0px 2px 8px rgba(40, 41, 61, 0.04), 0px 16px 24px rgba(96, 97, 112, 0.16);
  --shadow-6: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);
}

body {
  font-family: var(--font-family);
  color: var(--black);
  font-size: 16px;
}

@media (max-width: 991px) {
  body {
    font-size: 14px;
  }
}
img {
  max-width: 100%;
}

a {
  display: inline-block;
}

a,
button,
a:hover,
a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

h1,
h2 {
  color: var(--primary);
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--black);
  margin: 0px;
}

h1,
.h1 {
  font-size: 2.75em;
  line-height: 1.25;
}

h2,
.h2 {
  font-size: 2.25em;
  line-height: 1.25;
}

h3,
.h3 {
  font-size: 1.75em;
  line-height: 1.25;
}

h4,
.h4 {
  font-size: 1.5em;
  line-height: 1.25;
}

h5,
.h5 {
  font-size: 1.25em;
  line-height: 1.25;
}

h6,
.h6 {
  font-size: 0.875em;
  line-height: 1.25;
}

.display-1 {
  font-size: 5.5em;
  line-height: 1.25;
}

.display-2 {
  font-size: 4.75em;
  line-height: 1.25;
}

.display-3 {
  font-size: 4em;
  line-height: 1.25;
}

.display-4 {
  font-size: 3.25em;
  line-height: 1.25;
}

p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark-3);
  margin: 0px;
}

.text-small {
  font-size: 0.875em;
  line-height: 1.5;
}

.text-lg {
  font-size: 1.15em;
  line-height: 1.5;
}

.bg_cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* custom button */
.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.btn:hover {
  color: inherit;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.btn.btn-lg {
  font-size: 1.15em;
  padding: 16px 24px;
}

.btn.btn-sm {
  padding: 8px 16px;
}

.btn.square {
  border-radius: 0px;
}

.btn.semi-rounded {
  border-radius: 12px;
}

.btn.rounded-full {
  border-radius: 50px;
}

.btn.icon-left span,
.btn.icon-left i {
  margin-right: 8px;
}

.btn.icon-right span,
.btn.icon-right i {
  margin-left: 8px;
}

.btn.icon-btn {
  width: 48px;
  height: 48px;
  padding: 0;
  line-height: 48px;
}

.btn.icon-btn.btn-lg {
  width: 56px;
  height: 56px;
  line-height: 56px;
}

.btn.icon-btn.btn-sm {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

/* front-page */
.mec-event-image img {
  min-height: 140px !important;
  height: 140px;
}

.mec-event-carousel-content {
  min-height: 182px;
}

/* fin*/
/* page, page-galerias, page-noticias, page-ordenanzas */
.site-main .ordenanzas {
  margin-bottom: 70px;
}

.site-main header .entry-header {
  text-align: center;
  padding: 20px 0px 13px 0px;
}

.site-main p {
  padding: 0px 0px 8px 0px;
}

/* fin page.php*/
.mec-carousel-type1-head, .mec-event-date-carousel {
  background-color: #F3BB00 !important;
}

.custom-logo-link > img {
  width: 230px;
  height: auto;
}

/* content.php, content-page.php style */
.post-thumbnail img {
  /*    content.php    */
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100%;
  padding-bottom: 20px;
}

.post-thumbnail img {
  /* content-page.php */
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-post .entry-content {
  /* content.php, content-page.php */
  padding: 20px 14% 50px 14%;
  text-align: justify;
}

.single .entry-content {
  /* content.php, content-page.php */
  padding: 20px 14% 50px 14%;
  text-align: justify;
}

.page .entry-content {
  padding: 20px 5% 50px 5%;
  text-align: justify;
}
.page .entry-content ul {
  list-style-type: disc;
}
.page .entry-content ul li {
  padding-bottom: 3px;
  padding-left: 10px;
}
.page .entry-content h2, .page .entry-content h3, .page .entry-content h4, .page .entry-content p {
  padding: 10px 0px 10px 0px;
}
.page .entry-content td, .page .entry-content th {
  border: 1px solid #ddd;
  padding: 8px;
}
.page .entry-content tr:nth-child(even) {
  background-color: #f2f2f2;
}
.page .entry-content tr:hover {
  background-color: #ddd;
}
.page .entry-content th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.single-galeria .post-thumbnail {
  display: none;
}

.navbar {
  /* content.php, content-page.php */
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-brand {
  /* content.php, content-page.php */
  margin-left: 6px;
  letter-spacing: 1px;
}

/* Fin content.php */
.sub-menu {
  /* menu-principal.php */
  background-color: white;
}

.sub-menu a {
  /* menu-principal.php */
  color: #211B4B;
}

/* menu-principal.php */
.mec-carousel-type1-head, .mec-event-date-carousel {
  background-color: #F3BB00 !important;
}

.dropdown-item {
  color: var(--secondary) !important;
}

/* menu-servicios.php */
#menu-servicios > li > a {
  color: white;
  font-size: 0.9rem;
}

#menu-servicios > li > a:hover {
  color: var(--secondary);
}

#menu-servicios .menu-item {
  height: 60px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* fin menu-servicios.php */
/*   noticias.php   */
.no-notic {
  padding-top: 10px;
  font-size: 21px;
  text-align: right;
  color: black;
}

.destacada rs-module {
  border-radius: 9px;
}

.rs-layer {
  vertical-align: text-bottom;
}

.destacada {
  line-height: 42px;
}

/*.noticias .btn-primary {
    margin: 20px 0 0 7px;
    padding: 5px 7px 5px 15px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    border-radius: 20px;
}
.noticias .btn-primary:hover, .noticias .btn-primary:active{
    color: #fff; }*/
/* fin noticias.php */
/*   sugerencias-busqueda.php   */
@media (min-width: 992px) and (max-width: 1400px) {
  .fix-size {
    height: 200px;
  }
}
/* fin sugerencias-busqueda.php */
/*   404.php   */
.error-404 {
  padding: 50px 10% 30px 10%;
  text-align: center;
}

.error-404 h5 {
  margin: 0 0 5px 0;
  font-size: 100px;
}

.page-content {
  margin: 25px 0px 5px 0px;
  font-size: 25px;
}

/* fin 404.php   */
/* archive.php   */
.page-header {
  padding: 20px 0 0 0;
  text-align: center;
}

.single-card .img-card img {
  width: 100%;
}

.row p {
  margin: 4px 0 0 0;
}

.row a {
  font-size: 17px;
}

/* fin archive.php   */
/* detuinteres.php, informaciones.php */
.no-info {
  padding-top: 10px;
  font-size: 21px;
  text-align: right;
  color: white;
}

/* fin*/
/* single-post */
.single img {
  margin-bottom: 5px;
}

/* fin*/
.info-1 {
  background-color: #8CC63F;
}

.info-2 {
  background-color: #00A999;
}

.info-3 {
  background-color: #F15A24;
}

.info-4 {
  background-color: #ED1E79;
}

.info-5 {
  background-color: #662D91;
}

/* Custom card */
.single-card {
  margin-top: 0;
}

/* /// Custom Style /// */
/* Footer CSS */
.elementor-grid-item {
  margin: 0 3px;
}

footer .elementor-field-group {
  margin-bottom: 10px;
}

footer .elementor-widget-wrap {
  margin: 0% 10% 0% 0%;
  padding: 10px;
}

footer .elementor-grid {
  font-size: 0;
  word-spacing: var(--grid-column-gap) !important;
}

footer {
  padding: 0px 0px 0px 0px;
}

footer h4 {
  font-size: 18px;
  color: #fff;
}

footer .e-form__buttons {
  background-color: #02D3C9;
}

footer button {
  background-color: transparent !important;
}

footer p, footer span footer a {
  color: #fff;
}

footer p {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

footer .p-2 {
  padding: 0 5px 0 0 !important;
  text-align: right;
}

footer .p-i {
  padding: 10px 10px 0px 0px !important;
  height: 100%;
  border-right: solid 1px #fff;
}

footer .p-f {
  padding: 20px 0px 17px 5px !important;
  height: 100%;
}

footer .col-md-6 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.event-carousel-type1-head .mec-event-date-carousel:after {
  border-color: transparent transparent #F3BB00 transparent;
}

.navbar-nav {
  background-color: var(--secondary) !important;
}

/*===========================
  card-01 css
===========================*/
.single-card {
  -webkit-box-shadow: var(--shadow-1);
          box-shadow: var(--shadow-1);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single-card:hover {
  -webkit-box-shadow: var(--shadow-4);
          box-shadow: var(--shadow-4);
}
.single-card .card-image img {
  width: 100%;
  height: 100%;
}
.single-card .card-content {
  padding: 16px;
}
.single-card .card-content .card-title {
  margin-bottom: 0;
}
.single-card .card-content .card-title a {
  color: var(--black);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single-card .card-content .card-title a:hover {
  color: var(--primary);
}
.single-card .card-content .text {
  color: var(--dark-3);
  margin-top: 8px;
}

/* ===== Buttons Css ===== */
.card-style-two .card-content .card-btn .primary-btn {
  background: var(--primary);
  color: var(--white);
  -webkit-box-shadow: var(--shadow-2);
          box-shadow: var(--shadow-2);
}
.card-style-two .card-content .card-btn .active.primary-btn, .card-style-two .card-content .card-btn .primary-btn:hover, .card-style-two .card-content .card-btn .primary-btn:focus {
  background: var(--primary-dark);
  color: var(--white);
  -webkit-box-shadow: var(--shadow-4);
          box-shadow: var(--shadow-4);
}
.card-style-two .card-content .card-btn .deactive.primary-btn {
  background: var(--gray-4);
  color: var(--dark-3);
  pointer-events: none;
}

.card-style-two {
  -webkit-box-shadow: var(--shadow-1);
          box-shadow: var(--shadow-1);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.card-style-two:hover {
  -webkit-box-shadow: var(--shadow-4);
          box-shadow: var(--shadow-4);
}
.card-style-two .card-image img {
  width: 100%;
  height: 100%;
}
.card-style-two .card-content {
  padding: 16px;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .card-style-two .card-content {
    padding: 14px;
    padding-left: 5px;
  }
}
.card-style-two .card-content .card-title {
  margin-bottom: 0;
}
.card-style-two .card-content .card-title a {
  color: var(--black);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.card-style-two .card-content .card-title a:hover {
  color: var(--primary);
}
.card-style-two .card-content .text {
  color: var(--dark-3);
  margin-top: 8px;
}
.card-style-two .card-content .card-btn {
  margin-top: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .card-style-two .card-content .card-btn {
    margin-top: 16px;
  }
}/*# sourceMappingURL=main.css.map */